<div class="mb-3">
  <div class="d-flex justify-content-start mb-4 mt-2">
    <a [routerLink]="'/'+routePathsEnum.HOME">
      <button type="button" class="btn btn-outline-danger">Go back to Homepage</button>
    </a>
  </div>
  <label for="postTitle" class="form-label fw-bold">Title</label>
  <input [(ngModel)]="post.title" (ngModelChange)="inputInteraction()" type="text" maxlength="200" required="required" class="form-control w-50"
         id="postTitle">
  <div *ngIf="titleError" class="form-text text-danger">{{titleError}}</div>
</div>
<div class="mb-3">
  <label for="postBody" class="form-label fw-bold">Body</label>
  <textarea [(ngModel)]="post.body" (ngModelChange)="inputInteraction()" type="text" class="form-control" id="postBody"></textarea>
  <div *ngIf="bodyError" class="form-text text-danger">{{bodyError}}</div>
</div>
<div class="row">
  <div class="col-6">
    <button *ngIf="editMode" (click)="deletePost();" type="submit" class="btn btn-outline-danger">Delete</button>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <button *ngIf="editMode" (click)="updatePost();" type="button"
            class="btn btn-outline-danger post-action-btn" [disabled]="untouched || !validate()">Save
    </button>
    <button *ngIf="!editMode" (click)="createPost();" type="button"
            class="btn btn-outline-danger post-action-btn" [disabled]="!validate()">Create
    </button>

    <button [routerLink]="'/'+routePathsEnum.HOME" type="submit"
            class="btn btn-outline-danger post-action-btn" [disabled]="untouched || !validate()">
      Cancel
    </button>
  </div>
</div>
